.top {
border-bottom: 1px;
/*border-radius: 10px;*/
/*margin-top: 15px;*/
margin-bottom: 15px;
}

body {
	background-color: #f1f1f1;
}

.todo-list-group, .done-list-group {
	font-family: 'Roboto Condensed', sans-serif;
}

.done, .delete {
    padding-right: 15px;
    float: right;
}

.edit {
    padding-left: 15px;
    float: left;
}

.edit:hover {
    color: blue;
}

.done:hover {
    color: #2bde00;
}

.delete:hover {
    color: red;
}

.fa-lg {
    line-height: 1em !important;
}

#sep {
    background-color: #f9f9f9;
    height: 2px;
    border-radius: 2px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 10px;
}

#editing {
	width: 50%;
	height: 22px;
}